<%- include('layout/logo') %>
<title>Error</title>
<body>
  <h1>An Error Has Occured :/</h1>
  <p style="text-align: center;">Please try to login again.</p>
  <form action="/" method="GET">
    <button>Login</button>
  </form>
</body>
</html>