<%- include('layout/header', {activePage: "fuel"}) %>
<title>Fuel Quote</title>
<body>
  <div><h1>Fuel Quote Form</h1></div>
  <div class="container">
    <form class="fuelform" method="POST" action="/fuel">
      <label for="gallon">Gallons Requested<span class="error">*</span></label>
      <input type="number" min="0" id="gallon" name="gallons" required>
      
      <label for="address">Delivery Address:</label>
      <!-- <input type="text" id="address" name="address"> -->
      <p><%=userAddress%></p>

      <label for="date">Delivery Date<span class="error">*</span></label>
      <input type="date" id="date" name="date" required>

      <input type="hidden" id="priceholder" name="price">
      <input type="hidden" id="totalholder" name="total">

      <button id="calculate-button">Calculate 20%</button>
      <p id="result" style="font-size: xx-large;"></p>
      <button id="submit-button" disabled>Submit</button>
      <!-- <label for="price">Suggested Price / gallon:</label>
      <input type="number" min="0" id="price" name="price">

      <label for="total">Total Amount Due:</label>
      <input type="number" min="0" id="total" name="total"> -->
      <!-- <input type="submit" value="Submit"> -->
    </form>
  </div> 
</body>
<script>
  const address = '<%= userAddress %>';
</script>
<script src="./calculator.js"></script> 
</html>