<%- include('layout/header', {activePage: "fuel"}) %>
<title>Fuel Quote</title>
<body>
  <div class="fuelcontainer">
    <div class="fuelformcontainer">
    <form class="fuelform" method="POST" action="/fuel">
      <div><h1 style="color: white;">Fuel Quote Form</h1></div>
      <label for="gallon">Gallons Requested<span class="error">*</span></label>
      <input type="number" min="0" id="gallon" name="gallons" required>
      
      <label for="address">Delivery Address:</label>
      <input type="text" style="background-color: rgb(234, 234, 234);" id="address" value='<%=userAddress%>' readonly>

      <label for="date">Delivery Date<span class="error">*</span></label>
      <input type="date" id="date" name="date" required>

      <input type="hidden" id="priceholder" name="price">
      <input type="hidden" id="totalholder" name="total">

      <button id="calculate-button">Calculate Fuel Price</button>
      <p id="result" style="font-size: xx-large;"></p>
      <button id="submit-button" disabled>Submit</button>
    </form>
    </div>
  </div> 
</body>
<script>
  const address = '<%= userAddress %>';
  const history = '<%=found%>';
</script>
<script src="./calculator.js"></script> 
</html>