<%- include('layout/logo') %>
<title>Log Out</title>
<body>
  <div class="historycontainer">
  <div><h1 style="color: white;" >You have successfully signed out</h1></div>
  <p style="color: white; text-align: center; ">You can navigated back to the login page below:</p>
  <form action="/" method="GET">
    <button>Login</button>
  </form>
</div>
</body>
</html>