<%- include('layout/logo') %>
<title>Log Out</title>
<body>
  <h1>You have successfully signed out</h1>
  <p style="text-align: center;">You can navigated back to the login page below:</p>
  <form action="/" method="GET">
    <button>Login</button>
  </form>
</body>
</html>