<%- include('layout/header', {activePage: "manageProfile"}) %>
<title>Manage Profile</title>
<body>
  <div class="historycontainer">
    <div><h1 style="color: white;"> <%= Name %> Profile</h1></div>

    <label style="color: white;" for="address"> Address: <%=userAddress%></label>

</body>
</html>
