<%- include('layout/logo') %>
<title>Client Form</title>
<body>
  <!-- <div><h1>Registration Form</h1></div> -->
  <% if (typeof error !== 'undefined') { %>
    <p style="text-align: center;"><%= error %></p>
  <% } %>
  <div class="container">
    <form action="/ClientRegistration" method="POST">
      <div><h1>Registration Form</h1></div>
      <label for="newusername">Create Username:</label>
      <input type="text" id="newusername" name="username" required>
      
      <label for="newpassword">Create Password:</label>
      <input type="text" id="newpassword" name="password" required>

      <label for="newemail">Enter Email:</label>
      <input type="email" id="newemail" name="email" required>
      
      <input type="submit" value="Register">
    </form>
  </div>
</body>
</html>
