/* style.css */

body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem;
  color: rgb(29, 18, 148);
  text-align: center;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

form {
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.error{
  color: red;
}

input, select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}

input[type="submit"], button {
  background-color: #0417aa;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 1px;
  margin: 2px;
  vertical-align: bottom;
  position: relative;
}

/*table for fuel quote history*/
/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #1d35d4;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
} */
table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

th, td {
  text-align: left;
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #116ac3;
  color: white;
}

tr:nth-child(odd) {
  background-color:white;
}


/*navigation bar*/
header{
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
}

/* ul {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  background-color: #f1f1f1;
  border: 1px solid #555;
} */

nav ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

li a {
  display: block;
  color: grey;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a.active {
  background-color: #0465aa;
  color: white;
}

li a:hover {
  background-color: #555;
  color: white;
}


