/* Styles*/
body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem;
  /* color: rgb(29, 18, 148); */
  text-shadow: 0 0 3px black;
  text-align: center;
  justify-content: center;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

form {
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.error{
  color: red;
}

input, select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}

input[type="submit"], button {
  background-color: #0417aa;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: gray;
  color: white;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 1px;
  margin: 2px;
  vertical-align: bottom;
  position: relative;
}

/*fuel page styles*/
.fuelcontainer{
  background-image: url(./oil_rig_1.jpg);
  color:#fff;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}


/*fuel history styles*/
.historycontainer{
  background-image: url(./offshore-oil-rig.jpg);
  color:#fff;
  background-size: cover;
  min-height: calc(100vh - 160px);
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.historycontainer table {
  margin-top: 2rem; /* add some margin to the top of the table */
}

.historycontainer h1 {
  margin: 0; /* remove the default margin to allow for vertical alignment */
  text-align: center;
}


/*table for fuel quote history*/
table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

th, td {
  text-align: left;
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #116ac3;
  color: white;
}

tr:nth-child(odd) {
  background-color:white;
}


/*navigation bar*/
header{
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
}


nav ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.logo {
  background-image: url('./Logo_White.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}

li a {
  display: block;
  color: grey;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a.active {
  background-color: #0465aa;
  color: white;
}

li a:hover {
  background-color: #555;
  color: white;
}


