<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="global.css">
</head>
<header>
  <div class="logo"></div>
  <nav>
    <ul>
      <li><a class="<%= activePage === 'fuel' ? 'active' : '' %>" href="/fuel"> Fuel Form</a></li>
      <li><a class="<%= activePage === 'fuelhistory' ? 'active' : '' %>" href="/fuelhistory">Fuel History</a></li>
      <li><a class="<%= activePage === 'manageProfile' ? 'active' : '' %>" href="/mangeProfile">View Profile</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </nav>
</header>